@page
@using BillingNextSys.Models
@model EditModel
@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" src="/css/print.css" type="text/css" media="all" />
<script src="~/lib/keymaster/keymaster.js"></script>
<script src="~/Scripts/AjaxTransport/billeditF2.js"></script>
<h2>Edit</h2>

<h4>Bill</h4>
<hr />
<style>
    .invoice-title h2, .invoice-title h3 {
        display: inline-block;
    }

    .table > tbody > tr > .no-line {
        border-top: none;
    }

    .table > thead > tr > .no-line {
        border-bottom: none;
    }

    .table > tbody > tr > .thick-line {
        border-top: 2px solid;
    }
</style>
<div class="container">
    <form onsubmit="return false;">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="jumbotron" style="padding: 5px; border:1px solid; border-radius:5px;">
                <input type="hidden" id="billtoid" asp-for="Bill.DebtorGroupID" />
                <input type="hidden" id="seriesinfo" asp-for="Bill.SeriesName" />
                <input type="datetime" id="billdate" asp-for="Bill.BillDate" hidden />
                <input type="hidden" id="toinfo" asp-for="Bill.DebtorGroupID" />
                <input type="hidden" id="secode" asp-for="Bill.SecretUnlockCode" />
                <input type="hidden" id="billdel" asp-for="Bill.BillDelivered" />
                <input type="hidden" id="messsent" asp-for="Bill.MessageSent" />
                <input type="hidden" id="branchid" asp-for="Bill.BranchID" />
                <input type="hidden" id="companyId" asp-for="Bill.CompanyID" />
                <input type="hidden" id="yearser" />
                <div class="row">
                    <div class="col-md-3">
                        <img class="img-responsive full-width" src="data:image/png;base64,@Convert.ToBase64String(Model.Bill.Company.CompanyLogoImg)" /> @*<img src="https://images-na.ssl-images-amazon.com/images/I/713t5BMNwdL._SX425_.jpg" height="250px" width="300px" style="padding:10px;" />*@
                    </div>
                    <div class="col-md-9">
                        <h1>@Html.DisplayFor(model => model.Bill.Company.CompanyName)</h1>
                        <h4>@Html.DisplayFor(model => model.Bill.Branch.BranchAddress)</h4>
                        <div class="row">
                            <div class="col-md-6"><h4> <img src="/images/mail.svg" alt="Mail:" width="20px" height="20px" />&nbsp; @Html.DisplayFor(model => model.Bill.Branch.BranchEmail)</h4></div>
                            <div class="col-md-6"><h4> <img src="/images/mobile.png" alt="Mobile Number:" width="20px" height="20px" />&nbsp; @Html.DisplayFor(model => model.Bill.Branch.BranchPhone)</h4></div>
                        </div>

                    </div>
                </div>

            </div>
            <center><h3>Professional Invoice</h3></center>
            <hr />
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>Billed To:</strong><br>
                            <div id="to"><h4> @Html.DisplayFor(model => model.Bill.BilledTo)</h4> </div>
                            <div><p id="toaddress">@Html.DisplayFor(model => model.Bill.DebtorGroup.DebtorGroupAddress)</p></div><br>
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>Invoice Number:</strong> <div id="invoicenum">@Html.DisplayFor(model => model.Bill.BillNumber)</div><br>
                            <strong>Invoice Date:</strong> <div id="invoicedate"><input asp-for="Bill.InvoiceDate" id="invcdt" style="width:initial; border-radius:4px; height:35px;" /></div><br>
                        </address>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Bill summary</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="">
                            <table class="table table-condensed order-list" id="billdet">
                                <thead>
                                    <tr>
                                        <button class="text-right btn btn-default" id="addoperations" onclick="addInput();"><img src="~/images/add.svg" height='20px' width='20px' />  </button>&nbsp;&nbsp;
                                        <button class="text-right btn btn-default" id="deloperation" onclick="removeRow()"><img src="~/images/minus.png" height='20px' width='20px' />  </button>
                                       
                                        <td><strong>Debtor Name</strong></td>
                                        <td class="text-left"><strong>Particulars</strong></td>
                                        <td class="text-center"><strong>Period</strong></td>
                                        <td class="text-center"><strong>Year</strong></td>
                                        <td class="text-center"><strong>Amount</strong></td>
                                        <td class="text-right"><strong>Operation</strong></td>
                                    </tr>
                                </thead>
                                <tbody id="manupulation">
                                    <!-- foreach ($order->lineItems as $line) or some such thing here -->

                                    @{
                                        var counter = -1;
                                    }

                                    @foreach (var item in Model.BillDetailss)
                                    {
                                <tr id="row-@counter">
                                     <td>
                                     <p id="dt-@counter" style="display:inline-block;">@Html.DisplayFor(modelItem=>item.Debtor.DebtorName)</p>   <input style="display:none;" id="dname-@counter" style="width:250px;" placeholder="Debtor Name.." value="@Html.DisplayFor(modelItem => item.Debtor.DebtorName)" list="debname-@counter" autocomplete="off"><datalist id="debname-@counter"></datalist>       
                                        <input type="hidden" id="did-@counter" value="@Html.DisplayFor(modelItem=>item.DebtorID)"/>
                                     </td>
                                    <td>
                                     <p id="pp-@counter" style="display:inline-block;">@Html.DisplayFor(modelItem=>item.ParticularsName)</p>   <input  id="particulars-@counter" style="width:250px;display:none;" placeholder="Particulars.." value="@Html.DisplayFor(modelItem => item.ParticularsName)" list="parti-@counter" autocomplete="off"  onpaste="this.oninput();" oninput="fillparticulars($(this).val(),@counter);"  onfocusout="fillpdetails(@counter)"><datalist id="parti-@counter"></datalist>       
                                        <input type="hidden" id="pid-@counter" value="@Html.DisplayFor(modelItem=>item.ParticularsID)"/>
                                     </td>
                                    <td class="text-center">
                                    
                                       <p id="year-@counter" style="display: inline-block;">@Html.DisplayFor(modelItem=>item.YearInfo)</p>  <select style="display:none;" id="yearsel-@counter" class="form-control" asp-items="Html.GetEnumSelectList(typeof(YearInfo))"> </select>  
                                    </td>
                                    <td class="text-center">
                                      <p id="period-@counter" style="display: inline-block;">@Html.DisplayFor(modelItem=>item.Period)</p>    <input style="width:65px; display:none;" type="text" value="@Html.DisplayFor(modelItem => item.Period)" placeholder="Period.." id="periodinput-@counter" />  
                                    </td>
                                    <td class="text-center">
                                        <p id="amount-@counter" class="count-me" style="display: inline-block;">@Html.DisplayFor(modelItem => item.Amount)</p>    <input style="width:65px; display:none;" type="text" value="@Html.DisplayFor(modelItem => item.Amount)" placeholder="Amount.." id="amountinput-@counter" onchange="calcamount($(this).val(),@counter);" onpaste="this.onchange();" oninput="this.onchange();" onkeyup="this.onchange();" />
                                    </td>

                                    <td class="text-right" id="opr-@counter">
                                        <button onclick="editcont(this.id,@counter)" id="et-@Html.DisplayFor(modelItem => item.BillDetailsID)" class="btn btn-default"><img src="/images/edit.svg" height="20px" width="20px" class="img-responsive" /></button>  <button style="display:none;" onclick="savecont(this.id,@Html.DisplayFor(modelItem => item.BillDetailsID))" id="save-@counter" class="btn btn-default"><img src="/images/save.png" height="20px" width="20px" /></button> <button onclick="delcont(this.id,@Html.DisplayFor(modelItem => item.BillDetailsID))" id="del-@counter" class="btn btn-default"><img src="/images/delete.png" height="20px" width="20px" class="img-responsive" /></button>  
                                    </td>
                                </tr>
                                    counter++;
                                    }

                                    <tr>
                                        <td class="thick-line"></td>
                                        <td class="thick-line"></td>
                                        <td class="thick-line"></td>
                                        <td class="thick-line text-center"><strong>Total</strong></td>
                                        <td class="thick-line text-center" id="grandtotal"></td>
                                    </tr>

                                </tbody>
                            </table>
                            <input type="hidden" value="@counter" id="lastcount" />
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <address>
                                            <strong>Company's PAN:</strong> &nbsp;<div style="display:inline;" id="pan"> @Html.DisplayFor(model => model.Bill.Company.PAN)</div><br>
                                            <strong>Bank Name:</strong> &nbsp;<div style="display:inline;" id="bname">@Html.DisplayFor(model => model.Bill.Company.BankName)</div><br>
                                            <strong>Account Type:</strong> &nbsp;<div style="display:inline;" id="atype">@Html.DisplayFor(model => model.Bill.Company.AccountType)</div><br>
                                            <strong>Account Number:</strong> &nbsp;<div style="display:inline;" id="anum">@Html.DisplayFor(model => model.Bill.Company.AccountNumber)</div><br>
                                            <strong>IFSC Code:</strong> &nbsp;<div style="display:inline;" id="ifsc">@Html.DisplayFor(model => model.Bill.Company.IFSCcode)</div><br>
                                            <strong>You are Requested to Pay within 7 Days of Receipt of Invoice</strong><br>
                                        </address>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <address>
                                            <strong>Amount In Words: </strong> <div style="display:inline;" id="inwords"></div><br>
                                            <strong>For <div style="display:inline;" id="cname">@Html.DisplayFor(model => model.Bill.Company.CompanyName)</div></strong><br>
                                            <img width="100px" height="100px" class="img-responsive  pull-right" src="data:image/png;base64,@Convert.ToBase64String(Model.Bill.Branch.BranchManagerSign)" />
                                            <br><br><br>
                                            <strong class="pull-right">@Html.DisplayFor(model => model.Bill.Branch.BranchManagerName) <br> (Authorised Signatory)</strong><br>

                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="form-group">
    <input type="button" value="Edit Bill" id="btnedit" class="btn btn-default" onclick="editbill()" />
</div>
<div>
    <a asp-page="/Bill/Format2/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
