@page
@using BillingNextSys.Models
@model BillingNextSys.Pages.Bill.Format1.CreateModel

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" src="/css/print.css" type="text/css" media="all" />
<script src="~/lib/keymaster/keymaster.js"></script>
<script src="~/Scripts/AjaxTransport/billcreateF1.js"></script>
<h2>Create</h2>

<h4>Bill</h4>
<hr />
<style>
    .invoice-title h2, .invoice-title h3 {
        display: inline-block;
    }

    .table > tbody > tr > .no-line {
        border-top: none;
    }

    .table > thead > tr > .no-line {
        border-bottom: none;
    }

    .table > tbody > tr > .thick-line {
        border-top: 2px solid;
    }
</style>
<input type="hidden" id="billnum" value="@Model.lastbillnumber"/>
<input type="hidden" id="companyid" value="@Model.Companies.FirstOrDefault().CompanyID" />
<div class="container">
    <form onsubmit="return false;">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="jumbotron" style="padding: 5px;">

                <div class="row">
                    <div class="col-xs-3">
                        <img class="img-responsive full-width" src="data:image/png;base64,@Convert.ToBase64String(Model.Companies.FirstOrDefault().CompanyLogoImg)" /> @*<img src="https://images-na.ssl-images-amazon.com/images/I/713t5BMNwdL._SX425_.jpg" height="250px" width="300px" style="padding:10px;" />*@
                    </div>
                    <div class="col-xs-9">
                        <h1>@Html.DisplayFor(model => model.Companies.FirstOrDefault().CompanyName)</h1>
                        <h2>CHARTERED ACCOUNTANTS</h2>
                        <h4>@Html.DisplayFor(model => model.Branches.FirstOrDefault().BranchAddress)</h4>
                        <div class="row">
                            <div class="col-xs-6"><h4> <img src="/images/mail.svg" alt="Mail:" width="20px" height="20px" />&nbsp; @Html.DisplayFor(model => model.Branches.FirstOrDefault().BranchEmail)</h4></div>
                            <div class="col-xs-6"><h4> <img src="/images/mobile.png" alt="Mobile Number:" width="20px" height="20px" />&nbsp; @Html.DisplayFor(model => model.Branches.FirstOrDefault().BranchPhone)</h4></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-2"></div> <div class="col-xs-10"><h3>GSTIN:@Html.DisplayFor(model => model.Companies.FirstOrDefault().GSTIN)</h3></div>
                        </div>
                    </div>
                </div>
                <hr />
                <center><h3>Tax Invoice</h3></center>
            </div>

            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>Billed To:</strong><br>
                            <div id="to"> <input id="toinfo" class="form-control" style="width:300px;" list="tosearch" autocomplete="off"  onpaste="this.oninput();" oninput="fillvalues($(this).val());"  onfocusout="filladress()"> <datalist id="tosearch"></datalist></div>
                            <div><p id="toaddress"></p></div><br>
                            <strong>GSTIN: </strong><div><p id="togstin"></p></div>
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>Invoice Number:</strong> <div id="invoicenum"><input id="invoiceseries" style="width:50px;" list="Series" autocomplete="off" ><datalist id="Series"></datalist>/<input type="text" id="yearser" style="width:50px;" />/<input type="number" id="bnum" style="width:50px;" readonly /></div><br>
                            <strong>Invoice Date:</strong> <div id="invoicedate"><input asp-for="Bill.InvoiceDate" id="invcdt" value="@string.Format("{0:yyyy-MM-dd}",DateTime.Now)" style="width:initial; border-radius:4px; height:35px;" /></div><br>
                            <strong>Place Of Supply:</strong> <div id="placeofsupply"><select id="placeofsup" asp-items="Html.GetEnumSelectList(typeof(PlaceOfSupply))" style="width:initial; border-radius:4px; height:35px;"> </select></div><br>
                        </address>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Bill summary</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="">
                            <table class="table table-condensed order-list" id="billdet">
                                <thead>
                                    <tr>
                                        <button class="text-right" id="addoperations" onclick="addInput();"><img src="~/images/add.svg" height='20px' width='20px' />  </button>&nbsp;&nbsp;
                                        <button class="text-right" id="deloperation" onclick="removeRow()"><img src="~/images/minus.png" height='20px' width='20px' />  </button>
                                        <td><strong>Description of Service</strong></td>
                                        <td class="text-center"><strong>SAC Code</strong></td>
                                        <td class="text-center"><strong>Taxable Value</strong></td>
                                        <td class="text-center"><strong>CGST &#64 9 &#37 </strong></td>
                                        <td class="text-center"><strong>SGST &#64 9 &#37</strong></td>
                                        <td class="text-right"><strong>Amount</strong></td>
                                    </tr>
                                </thead>
                                <tbody id="manupulation">
                                    <!-- foreach ($order->lineItems as $line) or some such thing here -->

                                    <tr id="row-1" class="">
                                        <td><input id="particulars-1" style="width:250px;" placeholder="Particulars.." list="parti-1" autocomplete="off"  onpaste="this.oninput();" oninput="fillparticulars($(this).val(),-1);"  onfocusout="fillpdetails(-1)"><datalist id="parti-1"></datalist></td>
                                        <td class="text-center"><input readonly style="width:65px;" placeholder="SAC Code.." type="number" id="saccode-1" /></td>
                                        <td class="text-center"><input style="width:65px;" type="number" placeholder="Amount.." id="taxableval-1" onchange="calcamount($(this).val(),-1);" onpaste="this.onchange();" oninput="this.onchange();" onkeyup="this.onchange();" /></td>
                                        <td class="text-center" id="cgst-1"></td>
                                        <td class="text-center" id="sgst-1"></td>
                                        <td class="text-right count-me" id="pamount-1"></td>

                                    </tr>

                                    <tr>
                                        <td class="thick-line"></td>
                                        <td class="thick-line"></td>
                                        <td class="thick-line"></td>
                                        <td class="thick-line"></td>
                                        <td class="thick-line text-center"><strong>Total</strong></td>
                                        <td class="thick-line text-right" id="grandtotal"></td>
                                    </tr>
                                    @*<tr>
                                        <td class="no-line text-left"><strong>Amount In Words:</strong></td>
                                        <td class="no-line text-center">Seven Thousand Six Hundred Seventy.</td>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                        <td class="no-line"></td>
                                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <address>
                                            <strong>Company's PAN:</strong> &nbsp;<div style="display:inline;" id="pan"> @Html.DisplayFor(model => model.Companies.FirstOrDefault().PAN)</div><br>
                                            <strong>Bank Name:</strong> &nbsp;<div style="display:inline;" id="bname">@Html.DisplayFor(model => model.Companies.FirstOrDefault().BankName)</div><br>
                                            <strong>Account Type:</strong> &nbsp;<div style="display:inline;" id="atype">@Html.DisplayFor(model => model.Companies.FirstOrDefault().AccountType)</div><br>
                                            <strong>Account Number:</strong> &nbsp;<div style="display:inline;" id="anum">@Html.DisplayFor(model => model.Companies.FirstOrDefault().AccountNumber)</div><br>
                                            <strong>IFSC Code:</strong> &nbsp;<div style="display:inline;" id="ifsc">@Html.DisplayFor(model => model.Companies.FirstOrDefault().IFSCcode)</div><br>
                                            <strong>You are Requested to Pay within 7 Days of Receipt of Invoice</strong><br>
                                        </address>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <address>
                                            <strong>Amount In Words: </strong> <div style="display:inline;" id="inwords"></div><br>
                                            <strong>For <div style="display:inline;" id="cname">@Html.DisplayFor(model => model.Companies.FirstOrDefault().CompanyName)</div></strong><br>
                                            <img  width="100px" height="100px" class="img-responsive  pull-right" src="data:image/png;base64,@Convert.ToBase64String(Model.Branches.FirstOrDefault().BranchManagerSign)" /> 
                                           <br><br><br>
                                           <strong class="pull-right">@Html.DisplayFor(model => model.Branches.FirstOrDefault().BranchManagerName) <br> (Authorised Signatory)</strong><br>

                                        </address>
                                    </div>
                                </div>
                            </div>
                        </div><hr>
                        <center><h6>Subject to @Model.Branches.FirstOrDefault().BranchName Jurisdiction</h6></center>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="form-group">
    <input type="button" value="Create Bill" id="btncreate" class="btn btn-default" onclick="savebill()"/>
</div>
<div>
    <a asp-page="/Bill/Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
