@page
@model DebtorOutstandingReceiveModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>@Model.debtorgroupname Outstanding</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" id="myform" name="myform">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Received.DebtorGroupID" value="@Model.debtorgid"/>
            <div class="form-group">
                <label class="control-label">Amount Received: <strong>(Can not be more than @Model.debtoroutstandinginit)</strong></label>
                <input asp-for="Received.ReceivedAmount" id="receivedamount" max="@Model.debtoroutstandinginit" min="1" class="form-control" />
                <span asp-validation-for="Received.ReceivedAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Received.ReceivedDate" class="control-label"></label>
                <input asp-for="Received.ReceivedDate" type="date" id="mydate" class="form-control" required />
                <span asp-validation-for="Received.ReceivedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Received.ChequePaymet" onclick="checkboxchk()" checked id="chkbx"/> @Html.DisplayNameFor(model => model.Received.ChequePaymet)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Received.ChequeNumber" class="control-label"></label>
                <input asp-for="Received.ChequeNumber"  id="chkpay" class="form-control" />
                <span asp-validation-for="Received.ChequeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" onclick="onsbchk();"  value="Receive" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    document.querySelector("#mydate").valueAsDate = new Date();

    function checkboxchk() {
          var checkBox = document.getElementById("chkbx");
          var txtbxchk = document.getElementById("chkpay");
          if (checkBox.checked == true){
                txtbxchk.disabled = false;
          } else {
                txtbxchk.value='';
                txtbxchk.disabled = true;

          }
    }

    function onsbchk()
    {
          var checkBox = document.getElementById("chkbx");
          var txtbxchk = document.getElementById("chkpay");
          if (checkBox.checked == true && txtbxchk.value == ''){
                 toastr.options = {
              "closeButton": true,
              "debug": false,
              "newestOnTop": true,
              "progressBar": true,
              "positionClass": "toast-top-right",
              "preventDuplicates": false,
              "showDuration": "300",
              "hideDuration": "1000",
              "timeOut": "5000",
              "extendedTimeOut": "1000",
              "showEasing": "swing",
              "hideEasing": "linear",
              "showMethod": "fadeIn",
              "hideMethod": "fadeOut"
            }

            toastr.error("Please fill cheque number in case of cheque payemnt","Error Occured");

                return false;


          } else {
                document.forms['myform'].submit();
          }
    }
</script>