@page
@model BillingNextSys.Pages.AdvancePay.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdvancePay[0].AdvanceAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvancePay[0].ChequePaymet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvancePay[0].ChequeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvancePay[0].ReceivedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvancePay[0].DebtorGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvancePay[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvancePay[0].Branch)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AdvancePay) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdvanceAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChequePaymet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChequeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceivedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DebtorGroup.DebtorGroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch.BranchName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AdvancePayID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AdvancePayID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AdvancePayID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
