@page
@model BillingNextSys.Pages.Bill.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bill.BillNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bill.BillNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bill.BilledTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bill.BilledTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bill.BillAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bill.BillAmount)
        </dd>
        <dt>
            Bill Amount Outstanding
        </dt>
        <dd>
                     ₹ @Model.amtoutstnding
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bill.InvoiceDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bill.InvoiceDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bill.BillDelivered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bill.BillDelivered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bill.SecretUnlockCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bill.SecretUnlockCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bill.DebtorGroup.DebtorGroupAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bill.DebtorGroup.DebtorGroupAddress)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Bill.BillNumber" />
        <input type="submit" value="Delete" class="btn btn-default" /> |

        @{
        if (Model.Bill.SeriesName == null)
        {
            <a asp-page="/Bill/Format2/Index">Back to List</a>
    }
    else
    {
        <a asp-page="/Bill/Format1/Index">Back to List</a>
}
        }
    </form>
</div>
