@page
@model BillingNextSys.Pages.Branch.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Branch[0].BranchName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch[0].BranchAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch[0].Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Branch) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BranchAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.CompanyName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BranchID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BranchID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BranchID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-page="/Company/Index">Back to company list</a>